@{
////ViewBag.Title = "Home Page";
}
<style>
    .menu_item {
        margin-bottom:40px;
    }
</style>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <ul class="list-unstyled">
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="list-unstyled">
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
            <li class="menu_item">
                <div>
                    <h4><span class="item_name pull-left">Voluptate cillum fugiat.</span><span class="price pull-right">$50</span></h4>
                </div>
                <p style="clear:both;">
                    <small>tomato, mushrooms, onions.</small>
                </p>
            </li>
        </ul>
    </div>
</div>
